html {
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}
body {
  width: 10rem;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
}

#root {
  width: 10rem;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}


@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-bottom: 94px !important;
  }
}

.title {
  margin: 0;
  font-size: 0.44rem;
  padding-left: 4px;
  border-left: 2px solid blue;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}
